.top {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    margin-right: 2%;
    float: right;
    margin-top: 1%;
    font-size: 13px;
}

.top:hover {
    text-decoration: underline;
}

.profile {
    float:right;
    height: 40px;
    width: 40px;
    border-radius: 1000px;
}

.logo {
    /*height: 200px;*/
    width: 325px;
    margin-left: 34%;
    margin-top: 9%;
}

.search {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    height: 44px;
    width: 561px;
    margin-left: 22%;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
}

.search_icon {
    height: 15px;
    padding-top: 2.5%;
    padding-left: 3%;
    opacity: 0.5;
}

.mic {
    height: 20px;
    padding-top: 2%;
    padding-right: 3%;
    padding-left: 89%;
    
}

body {
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}
